body {
  background-color: #beebe9;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img {
  border-radius: 50%;
  width: 320px;
  height: 320px;
}
